
#pdf-canvas {
    width: 100%;
}

.pdf-input{
    @apply border-none inset-0 overflow-visible 
}

.pdf-input:focus,
.pdf-input:active {
    @apply border-none;
    outline: none;
}

.signature-canvas-hidden {
    display: none !important;
}