.accordion {
  @apply w-full  mx-auto border border-solid border-gray-300 rounded overflow-hidden;  
  }
  
  .accordion-item {
    @apply border-b border-solid border-gray-300;
  }
  
  .accordion-item:last-child {
    @apply border-b-0;
  }
  
  .accordion-header {
    @apply w-full bg-gray-100 p-4 text-lg font-semibold text-left cursor-pointer;
    transition: background 0.3s ease;
  }
  
  .accordion-header:hover {
    @apply bg-gray-200
  }
  
  .accordion-content {  
    @apply p-3 bg-white;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  