name: Node.js CI/CD

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x] # Utilisez la version de Node.js appropriée pour votre application

    steps:
      - name: Checkout du code source
        uses: actions/checkout@v3

      - name: Configuration Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Installation des dépendances
        run: npm install

      - name: Build de l'application
        run: npm run build

      - name: Vérification des fichiers construits
        run: ls -la ./dist/

      - name: Déploiement sur le serveur FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          local-dir: ./dist/ # Assurez-vous que c'est le bon chemin pour vos fichiers construits
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASSWORD }}
